.all{
	color:  #006896;
	background-color: #00151F;
	font-family: sans-serif;
	font-style: normal;
}

.menu{
	color:  #006896;
	font-size: 2rem;
	font-weight: bold;
	font-variant: small-caps;
	line-height:  3rem;
	background-color: #00334A;
	
}

.tekst{
	color: #00151F;
	font-size: 1.5rem;
	font-weight: normal;
	font-variant: normal;
	line-height:  2rem;
	background-color: #1E4E63;
}

.stopka{
	color: #006896;
	font-size: 1rem;
	font-weight: normal;
	font-variant: normal;
	line-height:  2rem;
}